<!DOCTYPE html>
<html>
    
    <%- include('../header'); -%>

    <body>
        <h1>Place Find</h1>
        <p>bbox-string:</p>
        <form action="/place-find">
            <div class="row">
                <input name="box" class="bbox-input" placeholder="51.4,-1,51,0">
                <button>find</button>
            </div>
        </form>
        <% if(places != null){%>

        <% } else {  %>
            no places yet
        <%}%>
    </body>
</html>