html {
    scrollbar-color: #9fd385 #EAF5EA;
}

body {
    height: 100%;
    background-image: url("../../public/style/assets/background.jpg")
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #9fd385;
}

.content {
    background: white;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.button {
    background: none;
    padding: 10px;
    border: solid 2px #7092FF;
    border-radius: 5%;
}

.button:hover {
    cursor:pointer;
}

.toggle-row-button-container {
    position: absolute;
    right: 70px;
    background: white;
    max-width: 200px;
    max-height:200px;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
}

.button.toggle-row-menu-button.button-activated {
    color: white !important;
    background: #7092FF !important;
}

.toggle-row-button {
    background: #7092FF;
    color: white;
    border: none;
    border: solid 2px #7092FF;
    border-radius: 5%;
    margin: 2px;
}

.toggle-row-button + .button-activated {
    background: none;
    color: black;
}

.toggle-row-button:hover {
    cursor: pointer;
}

.link-button img{
    width:  40px;
    height: auto;
}

.input {
    color: black;
    background: none;
    padding: 10px;
    border: solid 2px #9fd385;
}

.input.empty-error {
    border: solid 2px #FF6961;
}

div {
    text-overflow: ellipsis;
    overflow: hidden;
}

summary:hover {
    cursor:pointer
}

.container, .row {
    display: flex;
    flex-wrap: wrap;
}

.row-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-end {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.header-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-row *{
    margin: 10px;
}

.navigation-bar a {
    background: #EAF5EA;
    padding: 10px;
    margin: 5px;
    display: block;
}

.selected {
    background: #9fd385 !important;
}

.data-changed {
    color: white;
    background: #FF6961 !important;
}

.head-row {
    display: flex;
    align-items: center;
    background: #9fd385;
}

.body-row:nth-child(odd) {
    background:#EAF5EA;
}

.place-card-col {
    border: solid black 2px;
    margin: 5px;
    padding: 5px;
}

.place-card-col div:nth-child(odd) {
    background:#EAF5EA;
}

.body-row {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.place-col {
    flex: 1;
    align-items: center;
    padding:5px;
}

.col-size-2 {
    flex: 2;
    align-items: center;
    padding:5px;
}

.place-card {
    margin: 10px;
    padding: 10px;
} 

.place-card p {
    border-bottom: solid 1px black;
}

.place-row {
    padding: 5px;
}

[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    border: 1px solid black;
    background: white;
    padding: .25em;
    color: black !important;
}