<div class="">
    <% if(placecols == undefined){%>

    <% } else {  %>
        show / hide columns:
        
        <% for (let i = 0 ; i < placecols.length; i++) { %>
            <button id="display-row-<%=i%>" class="toggle-row-button" 
                <% %>
                onclick="toggleColDisplay(<%=i%>)">
                <%= placecols[i] %>
            </button>
        <% } %>
    <%}%>
</div>

<script src="../../public/scripts/table.js"></script>
