<head>
    <meta charset='utf-8'>
    <title>osmorte</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="../public/style/main.css">
</head>
<header class="header-row">
    <a href='/'>
        <h1> 
            OSMOrte - <%= title %>
        </h1>
    </a>

    <div class="navigation-bar row">
        <a <% if (title == 'Dashboard')     { %> class="selected" <% } %> href='/'>Dashboard</a>
        <a <% if (title == 'Places')        { %> class="selected" <% } %> href='/place-index'>Index</a>
        <a <% if (title == 'Find Places' || 
                  title == 'Found Places')  { %> class="selected" <% } %> href='/place-find'>Find</a>
    </div> 

</header>